<div class="container">

    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-primary">
                    <div class="panel-heading">Chat Rooms</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <!-- <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">Profile</a></li>
                        <li role="presentation"><a href="#">Messages</a></li> -->
                        <li role="presentation" ng-repeat="group in $ctrl.state.groupNames" id="{{group.groupId}}"
                        ng-click="$ctrl.selectGroup($index)" ng-class="{active : $ctrl.isGroupSelected($index)}">
                        <a>{{group.groupName}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-7" ng-repeat="chat in $ctrl.state.chats" 
                ng-class="{'col-md-offset-5' : $ctrl.isChatFromSender(chat.user)}">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            {{chat.message}}
                        </div>
                        <div class="panel-footer">By: {{chat.user}} at {{chat.time}}</div>
                    </div>
                </div>

                <!-- <div class="panel panel-default col-md-7 col-md-offset-5">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div> -->
            </div>
        </div>

    </div>


    <div>

    </div>
</div>