/* app css stylesheet */

/* .menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
} */

/************************

Application Styles
Starts Here

************************/

.login-panel{
  margin-top: 200px;
}

body{
  background-color: #cecece;
  height: 100vh;
}

.nav-side{
  background-color: #fff;
  padding: 20px 10px;
}

.chat-window{
  padding: 0 10px 0 10px;
}